html {
  scroll-behavior: smooth;
  * {
    // border: 1px solid grey;
  }

  h1 {
    display: inline-block;
  }

  #App {
    font-family: 'Biryani', sans-serif;

    nav {
      text-align: center;
      height: 80px;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 100;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background: linear-gradient(to top, rgba(255, 255, 255, 0) 0, #414141 100%);

      .website-name {
        padding: 20px 30px;
        a {
          text-decoration: none;
          color: white;
        }
      }

      .menu {
        ul {
          margin: 0;
          display: flex;
          flex-direction: row;
          list-style-type: none;

          li {
            width: 140px;
            height: 60px;
            line-height: 60px;
            transition: 0.3s;
            &:hover {
              font-size: 20px;
            }
            a {
              height: 100%;
              width: 100%;
              text-decoration: none;
              color: white;
            }
            &:not(:first-child)::before {
              content: '';
              display: block;
              position: absolute;
              width: 1px;
              height: 18px;
              top: 32px;
              background: #b8b8b8;
            }

          }
        }
      }

    }

    #landing-page {
      position: relative;
      background-image: url('../src/assets/bg.jpg');
      height: 100vh;
      background-position: left;
      background-attachment: fixed;
    }

    #about, #skill, #education {
      width: 100vw;
      padding: 40px 0;
      .container {
        margin: auto;
        width: 80%;
      }
    }
    
    #about {
      .container {
        .profile {
          display: flex;
          flex-direction: row;
          align-items: center;

          .profile-left {
            width: 40%;
            height: 100%;
            text-align: center;
  
            img {
              height: 300px;
              width: 300px;
              vertical-align: middle;
              border-radius: 50%;
              object-fit:cover;
            }
          }

          .profile-right {
            width: 60%;
            display: flex;
            flex-direction: column;
            .summary {
              a {
                text-decoration: none;
                color: blue;
              }
            }
            .contact {
              a {
                color: black;
                font-size: 40px;
                margin: 10px;
                .icon {
                  border: 0;
                }
              }
              
            }
          }
        }
      }
    }

    #skill {
      background-color: #F5F5F5;
      .container {
        .tools {
          text-align: center;
          padding: 40px 0;
          .tool {
            width: 100%;
            border: 0;
            height: 80px;
            margin: 10px;
            img {
              height: inherit;
            }
          }
        }
      }
    }

    #education {
      .container {
        .education {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 40px 0;

          .education-left {
            width: 40%;
            height: 100%;
            text-align: center;
  
            img {
              height: 150px;
              width: 150px;
              vertical-align: middle;
            }
          }

          .education-right {
            width: 60%;
            p {
              margin: 10px 0;
            }
            span {
              font-style: italic;
            }
            .school {
              // color: blue;
              font-size: 22px;
            }
            .degree {
              color: green;
              font-size: 14px;
            }
            .location {
              font-size: 14px;
            }
          }
        }
      }
    }

  }
}
